.about {
    background: var(--color-base-90);
}

.about__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.about__header {
    display: flex;
    flex-direction: row;
    gap: var(--gap-cards-default);
}

.about__header-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about__title {
    color: var(--color-base-0);
}

.about__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about__text-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-base-30);
}

.about__text-descr {
    font-size: 20px;
    line-height: 160%;
    color: var(--color-base-30);
}

.about__header-image {
    display: flex;
    flex-direction: row;
    gap: var(--gap-cards-default);
}

.head-img-1 {
    width: 160px;
    height: 290px;
}

.head-img-2 {
    width: 255px;
    height: 255px;
}

.about__body {
    display: flex;
    flex-direction: row;
    gap: var(--gap-cards-default);
}

.about__body-item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.about__item-img {
    width: 255px;
    height: 255px;
}

.about__item-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about__item-title {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-base-0);
}

.about__item-descr {
    line-height: 150%;
    color: var(--color-base-30);
}

.about__footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.form-head {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.textarea-block {
    display: flex;
    max-width: 920px;
    min-height: 150px;
}

.input-block {
    display: flex;
    flex-direction: row;
    gap: var(--gap-cards-default);
    max-width: 920px;
}

.form-textarea {
    display: flex;
    flex-grow: 1;
    padding: 30px 32px;
    border: 1px solid var(--color-base-0);
    border-radius: 30px;
    background-color: var(--color-base-90);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-base-0);
    transition: background-color var(--transition-default);
}

.form-textarea:hover {
    background-color: var(--color-base-80);
}

.form-textarea:focus {
    border-color: var(--color-purple-40);
}

.form-textarea:focus {
    border-color: var(--color-purple-40);
}

.form-textarea:active {
    color: var(--color-base-0);
    border-color: var(--color-base-0);
    background-color: unset;
}

.form-input {
    display: flex;
    flex-grow: 1;
    max-width: 445px;
    max-height: 70px;
    padding: 25px 32px;
    border: 1px solid var(--color-base-0);
    border-radius: 40px;
    background-color: var(--color-base-90);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-base-0);
    transition: background-color var(--transition-default);
}

.form-input::placeholder {
    color: var(--color-base-30);
}


.form-textarea::placeholder {
    color: var(--color-base-30);
}


.form-input:hover {
    background-color: var(--color-base-80);
}

.form-input:focus {
    border-color: var(--color-purple-40);

    &:valid {
        border-color: yellow
    }

    &:invalid {
        border-color: red
    }
}

.form-input:active {
    color: var(--color-base-0);
    border-color: var(--color-base-0);
    background-color: unset;
}

.form-foot {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.form-foot-btn {
    width: fit-content;
    padding: 25px 54px;
    border-radius: 40px;
    background-color: var(--color-purple-50);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--color-base-0);
}

/* Контейнер для выравнивания */
.form-check {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* Скрываем стандартный инпут, но оставляем доступным для клавиатуры */
.form-check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 30px;
}

/* Стилизуем текст и создаем место под квадрат */
.form-check-text {
    position: relative;
    padding-left: 30px; /* Отступ текста от квадрата */
    font-weight: 500;
    font-size: 12px;
    color: var(--color-base-0);
    user-select: none;
}

/* Рисуем пустой квадрат */
.form-check-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-base-0);
    background: var(--color-base-90);
    transition: all var(--transition-default);
    transform: translateY(-50%);
}

/* Рисуем саму галочку (скрыта по умолчанию) */
.form-check-text::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 25%;
    width: 10px;
    height: 8px;
    background-image: url(/images/icons/form-check-svg.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s;
}

/* Состояние при клике: показываем галочку */
.form-check-input:checked + .form-check-text::after {
  transform: translate(0) scale(1.2); /* Проявляется */
  opacity: 1;
}




