.about {
    background: var(--color-base-90);
}

.about__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.about__header {
    display: flex;
    flex-direction: row;
    gap: var(--gap-cards-default);
}

.about__header-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about__title {
    color: var(--color-base-0);
}

.about__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about__text-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-base-30);
}

.about__text-descr {
    font-size: 20px;
    line-height: 160%;
    color: var(--color-base-30);
}

.about__header-image {
    display: flex;
    flex-direction: row;
    gap: var(--gap-cards-default);
}

.head-img-1 {
    width: 160px;
    height: 290px;
}

.head-img-2 {
    width: 255px;
    height: 255px;
}

.head-img-1-2 {
    display: none;
}

.about__body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gap-cards-default);
}

.about__body-item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
    width: 23%;
}

.about__item-img {
    width: 255px;
    height: 255px;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__item-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about__item-title {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-base-0);
}

.about__item-descr {
    line-height: 150%;
    color: var(--color-base-30);
}

.about__footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
    width: 83%;
}

.form-head {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.textarea-block {
    display: flex;
    min-height: 150px;
}

.input-block {
    display: flex;
    flex-direction: row;
    gap: var(--gap-cards-default);
}

.form-textarea {
    display: flex;
    flex-grow: 1;
    padding: 30px 32px;
    border: 1px solid var(--color-base-0);
    border-radius: 30px;
    background-color: var(--color-base-90);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-base-0);
    transition: background-color var(--transition-default);
}

.form-textarea:hover {
    background-color: var(--color-base-80);
}

.form-textarea:focus {
    border-color: var(--color-purple-40);
}

.form-textarea:focus {
    border-color: var(--color-purple-40);
}

.form-textarea:active {
    color: var(--color-base-0);
    border-color: var(--color-base-0);
    background-color: unset;
}

.form-input {
    display: flex;
    flex-grow: 1;
    max-height: 70px;
    padding: 25px 32px;
    border: 1px solid var(--color-base-0);
    border-radius: 40px;
    background-color: var(--color-base-90);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-base-0);
    transition: background-color var(--transition-default);
}

.form-input::placeholder {
    color: var(--color-base-30);
}


.form-textarea::placeholder {
    color: var(--color-base-30);
}


.form-input:hover {
    background-color: var(--color-base-80);
}

.form-input:focus {
    border-color: var(--color-purple-40);

    &:valid {
        border-color: green
    }

    &:invalid {
        border-color: red;

        ~.input-absolut {
            opacity: 1;
        }

    }
}

.form-input:active {
    color: var(--color-base-0);
    border-color: var(--color-base-0);
    background-color: unset;
}

.form-foot {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.about-btn-wrap {
    width: 23%;
}

.form-foot-btn {
    width: 100%;
    height: 70px;
    border-radius: 40px;
    background-color: var(--color-purple-50);
}

.about-btn-text {
    padding: 0 54px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--color-base-0);
}

/* Контейнер для выравнивания */
.form-check {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* Скрываем стандартный инпут, но оставляем доступным для клавиатуры */
.form-check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 30px;
}

/* Стилизуем текст и создаем место под квадрат */
.form-check-text {
    position: relative;
    padding-left: 30px; /* Отступ текста от квадрата */
    font-weight: 500;
    font-size: 12px;
    color: var(--color-base-0);
    user-select: none;
}

/* Рисуем пустой квадрат */
.form-check-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-base-0);
    background: var(--color-base-90);
    transition: all var(--transition-default);
    transform: translateY(-50%);
}

/* Рисуем саму галочку (скрыта по умолчанию) */
.form-check-text::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 25%;
    width: 10px;
    height: 8px;
    background-image: url(/images/icons/form-check-svg.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s;
}

/* Состояние при клике: показываем галочку */
.form-check-input:checked + .form-check-text::after {
  transform: translate(0) scale(1.2); /* Проявляется */
  opacity: 1;
}

.input-wrap {
    display: flex;
    position: relative;
    width: 100%;
}

.input-absolut {
    position: absolute;
    top: 8px;
    left: 33px;
    opacity: 0;
    font-weight: 400;
    font-size: 12px;
    color: var(--color-red-50);
}

@media (max-width: 1024px) {
   .head-img-1 {
    display: none;
   }

   .about__header-image {
        align-items: center;
    }

    .about__body {
        flex-wrap: wrap;
    }

    .about__body-item {
        width: 47%;
    }

    .about__item-img {
        width: 100%;
    }

    .about__footer {
        width: 100%;
    }

    .about-btn-wrap {
        width: 26%;
    }
}

@media (max-width: 768px) {
    .about__header {
        flex-direction: column;
    }

    .about__header-image {
        justify-content: space-between;
    }

    .head-img-1 {
        width: 112px;
        height: 112px;
    }

    .head-img-2 {
        width: 112px;
        height: 112px;
    }

    .head-img-1-2 {
        display: flex;
        margin-left: -106.500px;
    }

    .input-block {
        flex-direction: column;
        width: 100%;
    }

    .about-btn-wrap {
        width: 39%;
    }
}

@media (max-width: 320px) {
    .about {
        padding: 54px 0;
    }

    .about__title {
        font-size: 24px;
    }

    .about__text-wrap {
        gap: 4px;
    }

    .about__text-title {
        font-size: 14px;
        width: 95%;
    }

    .about__text-descr {
        font-size: 14px;
    }

    .about__header-image {
        display: none;
    }

    .about__item-img {
        width: 113px;
        height: 113px;
    }

    .about__body-item {
        gap: 12px;
        width: 44%;
    }

    .about__item-text {
        gap: 5px;
    }

    .about__item-title {
        font-size: 14px;
    }

    .about__item-descr {
        font-size: 12px;
        line-height: 133%;
    }

    .form-textarea {
        padding: 17px 24px;
        font-size: 16px;
    }

    .form-input {
        font-size: 16px;
    }

    .about-btn-wrap {
        width: 67%;
    }

    .form-foot-btn {
        height: 50px;
    }

    .about-btn-text {
        padding: 0 44.5px;
        font-size: 16px;
    }

    .form-check-text {
        font-size: 9px;
    }

    .form-check-text::before {
        width: 13px;
        height: 13px;
    }
}



