.footer {
    padding-bottom: 10px;
    background-color: var(--color-base-80);
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 94px;
}

.footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 94px;
}

.footer__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.reset-item {
    display: flex;
    width: 24px;
    height: 24px;
}

.social-item {
    width: 100%;
    color: var(--color-base-40);
}


.footer__right {
    width: 40%;
    list-style-type: none;
    columns: 3;
    gap: 2rem;
}

.footer__item {
    margin-bottom: 20px;
}

.footer__link {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-base-0);
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_img {
    width: inherit;
    height: 10px;
}

.footer__copy {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 103%;
    text-align: center;
    color: var(--color-base-30);
}

@media (max-width: 1024px) {


}

@media (max-width: 768px) {
}

@media (max-width: 320px) {
}
