.header {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
    background: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}

.header__nav {
    display: flex;
    flex-grow: 1;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
}

.nav__link {
    position: relative;
    padding: 2px 4px;
    font-weight: 400;
    font-size: 20px;
    color: var(--color-base-100);
    transition: color, background-color var(--transition-default);
}

.nav__link:focus {
    color: var(--color-base-0);
    background-color: var(--color-purple-40);
}

.nav__link:hover {
    color: var(--color-purple-50);
}

.nav__link:active {
    color: var(--color-purple-60);
    background-color: transparent;
}

.header__search-link {
    display: flex;
    width: 24px;
    height: 24px;
    color: var(--color-purple-50);
}

.header__search-link:focus {
    color: var(--color-purple-40);
}

.header__search-link:hover {
    color: var(--color-purple-40);
}

.header__search-link:active {
    color: var(--color-purple-60);
}

._mobile {
    display: none;
}

@media (max-width: 1024px) {
    .container {
        display: flex;
        justify-content: space-between;
        max-width: 822px;
        width: 100%;
    }

    .header {
        gap: 20px;
    }

    .header__logo {
        display: flex;
        width: 112px;
        height: 14px;
    }

    ._desktop {
        justify-content: space-between;
        .header__nav {
            display: none;
        }
    }

    ._mobile {
        border: 1px solid var(--color-base-20);
        display: flex;
        padding: 22px 0;
    }

    .nav__list {
        justify-content: space-between;
    }

}

