.hero {
    padding: 40px 0;
    background: #fff;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__wrap {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 55%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hero__title {
    font-size: 60px;
    color: var(--color-base-100);
}

.hero__title-start {
    font-weight: 700;
}

.hero__title-finish {
    font-style: italic;
}

.hero__descr {
    font-weight: 400;
    line-height: 150%;
    color: var(--color-base-100);
}

.hero__btn {
    padding: 25px 54px;
    width: fit-content;
    /* max-width: 245px; */
    /* max-height: 70px; */
    border-radius: 40px;
    background-color: var(--color-purple-50);
    transition: background-color var(--transition-default);
}

.hero__btn-text {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--color-base-0);
    transition: color var(--transition-default);
}

.hero__btn:hover {
    background-color: var(--color-purple-40)
}

.hero__btn:focus {
    background-color: var(--color-purple-40);
    border: 2px solid;
    border-color: var(--color-purple-60);
}

.hero__btn:active {
    background-color: var(--color-purple-60);
    border: none;
}

.hero__img {
    display: flex;
    width: 350px;
    height: 372px;
}

@media (max-width: 1024px) {
    .hero {
        padding: 90px 0;
    }

    .hero__wrap {
        gap: 20px;
        width: 65%;
    }

    .hero__img {
        width: 256px;
        height: 262px;
    }

    .microphone-img {
        width: inherit;
    }
}

@media (max-width: 768px) {
    .hero__wrap {
        width: 100%;
    }

    .hero__img {
        display: none;
    }
}

@media (max-width: 320px) {
    .hero {
        padding: 40px 0;
    }

    .hero__content {
        gap: 8px;
    }

    .hero__title {
        font-size: 32px;
    }

    .hero__descr {
        font-size: 14px
    }

    .hero__btn {
        padding: 17px 45px;
    }

    .hero__btn-text {
        font-size: 16px;
    }
}

