.promo {
    background: var(--color-base-80);
}

.promo__container {
    display: flex;
    flex-direction: row;
    gap: var(--gap-cards-default);
}

.promo__img {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    width: 60%;
}

.promo-img {
    object-fit: contain;
}

.promo__img-absolut {
    position: absolute;
    left: 0;
    top: -5px;
    width: 160px;
    height: 160px;
}

.promo__container-img {
    object-fit: contain;
}

.promo__content {
    display: flex;
    flex-direction: column;
    gap: 19px;
    flex-grow: 0;
    width: 40%;
}

.content__header {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.header-title {
    color: var(--color-orange-40);
}

.header-img {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.content__body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.body-descr {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.descr-text {
    line-height: 180%;
    color: var(--color-base-0);
}

.body-purchase {
    display: flex;
    flex-direction: column;
    gap: var(--gap-cards-default);
}

.body-price {
    font-weight: 500;
    font-size: 30px;
    color: var(--color-base-0);
}

.btn-promo {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 70px;
    padding: 0 14px;
    border: 2px solid var(--color-orange-40);
    border-radius: 100px;
    transition: background-color var(--transition-default);
}

.promo-btn-wrap {
        display: flex;
        align-items: center;
        gap: 8px;
    }

.promo-btn-img {
    width: 20px;
    height: 20px;

    path {
        transition: fill var(--transition-default);
    }
}

.btn-promo-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-orange-40);
    transition: color var(--transition-default);
}

.btn-promo:hover {
    background-color: var(--color-orange-40);

    .btn-promo-text {
        color: var(--color-base-100);
    }

    .promo-btn-img {
        path:first-child {
            fill: var(--color-base-90);
        }

        path:last-child {
            fill: var(--color-orange-40);
        }
    }
}

.btn-promo:focus {
    background-color: var(--color-orange-50);
    border-color: var(--color-orange-40);

    .btn-promo-text {
        color: var(--color-base-100);
    }
}

.btn-promo:active {
    background-color: var(--color-orange-50);
    border: none;

    .btn-promo-text {
        color: var(--color-base-100);
    }

    .promo-btn-img {
        path:first-child {
            fill: var(--color-base-90);
        }

        path:last-child {
            fill: var(--color-orange-40);
        }
    }
}

@media (max-width: 1024px) {
    .promo__img {
        width: 50%;
    }

    .promo-img {
        object-fit: contain;
    }

    .promo__img-absolut {
        width: 100px;
        height: 100px;
        top: 135px;
    }

    .promo__content {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .promo__container {
        flex-direction: column;
    }

    .promo__img {
        width: 100%;
    }

    .promo__img-absolut {
        width: 160px;
        height: 160px;
        top: 0;
    }

    .promo__content {
        width: 100%;
    }

    .content__header {
        width: 80%;
    }

    .header-title {
        font-size: 24px;
    }
}

@media (max-width: 320px) {
    .promo {
        padding: 54px 0;
    }

    .content__header {
        width: 100%;
    }

    .promo__img-absolut {
        width: 62px;
        height: 62px;
        top: 0;
    }

    .content__body {
        gap: 12px;
    }

    .descr-text {
        font-size: 14px;
    }

    .body-purchase {
        gap: 20px;
    }

    .body-price {
        font-size: 24px;
    }

    .btn-promo {
        width: 100%;
        height: 50px;
    }

    .btn-promo-text {
        font-size: 16px;
    }
}



